
body {
  font-family: Calibri, Helvetica, sans-serif;
  white-space: nowrap;
}

.input-container {
  display: inline-block;
  align-items:center;
  justify-content: center;
  width: auto;
}

.input-box {
  display: inline-block;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: bold;
}

.content-text {
  text-align: center;
}

.stat-container {
  width: auto;
  margin-left: 100px;
  margin-bottom: 10px;
}

.stat-text {
  width: 150px;
  display: inline-block;
}

.stat-number {
  width: 50px;
  display: inline-block;
  text-align: left;
}

.spellName {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
}

.spellEffectContainer {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-left:10px;
  margin-right:10px;
}

.spellCritEffectContainer {
  display: inline-block;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellAP {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellRange {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellAOE {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellModifiable {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellSight {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellLinear {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}
.spellCooldown {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellperTurn {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellperTarget {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellCritChance {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
}

.spellEffect {
  width: auto;
}

.spellHeader {
  font-weight: bold
}
